@font-face {
  font-family: Halfomania;
  src: local(Halfomania-Regular), url(fonts/Halfomania-Regular.ttf) format('truetype'),
        url(fonts/Halfomania-Regular.otf) format('opentype'),
        url(fonts/Halfomania-Regular.woff) format('woff'),
        url(fonts/Halfomania-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}





@font-face {
    
  font-family: 'Halfomania';
    
  src: local('halfomania-regular.woff2') format('woff2');
  url('fonts/halfomania-regular.woff') format('woff');
    
  font-weight: normal;
    
  font-style: normal;


}






@font-face {
    
  font-family: 'Halfomania';
    
  src: local('halfomania-regular.woff2') format('woff2');
         
  url('fonts/halfomania-regular.woff'); 
  format('woff');
    
  font-weight: normal;
    
  font-style: normal;


}

div {
  font-family: Halfomania;
}

