@font-face {
  font-family: Halfomania;
  src: local(Halfomania-Regular), url('Fonts/halfomania-regular.ttf') format('truetype'),
        url('Fonts/Halfomania-Regular.otf') format('opentype'),
        url('Fonts/halfomania-regular.woff') format('woff'),
        url('Fonts/halfomania-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





@font-face {
    
  font-family: 'Halfomania';
    
  src: local('halfomania-regular.woff') format('woff');
  url('Fonts/halfomania-regular.woff') format('woff');
    
  font-weight: normal;
    
  font-style: normal;


}






@font-face {
    
  font-family: 'Halfomania';
    
  src: local('halfomania-regular.woff2') format('woff2');
         
  url('Fonts/halfomania-regular.woff2'); 
  format('woff');
    
  font-weight: normal;
    
  font-style: normal;


}

div {
  font-family: Halfomania;
}

