@font-face {
  font-family: Halfomania;
  src: local(Halfomania-Regular), url(Halfomania-Regular.ttf);
  src: local(Halfomania-Regular), url(Halfomania-Regular.otf);
  src: local(Halfomania-Regular), url(Halfomania-Regular.woff);
  src: local(Halfomania-Regular), url(Halfomania-Regular.woff2);
  font-weight: bold;
}





@font-face {
    
  font-family: 'Halfomania';
    
  src: local('halfomania-regular.woff2') format('woff2')
  url('halfomania-regular.woff') format('woff');
    
  font-weight: normal;
    
  font-style: normal;


}






@font-face {
    
  font-family: 'Halfomania';
    
  src: local('halfomania-regular.woff2') format('woff2')
         
  url('halfomania-regular.woff') 
  format('woff');
    
  font-weight: normal;
    
  font-style: normal;


}

div {
  font-family: Halfomania;
}

